# AWS 설정
aws:
  accessKeyID: "YOUR_ACCESS_KEY_ID"
  secretAccessKey: "YOUR_SECRET_ACCESS_KEY"
  roleArn: "YOUR_ROLE_ARN"

# 데이터베이스 설정
database:
  username: "db_username"
  password: "db_password"
  rootPassword: "db_root_password"
  host: "mysql-0.mysql.zoochacha-db.svc.cluster.local" 